@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Application Uses an In Memory Database. No data is transmitted anywhere. The data is stored in memory for the brief time that the application is running. All data is lost when the application shuts down.</p>
